<h1> Welcome!</h1>
<h2> Upload an image to paint the walls</h2>
</div>
	<form action="/"method="post" enctype='multipart/form-data'>
		<input type="file"  name ='myfile'required>
		<button class="button" type="submit">Save</button>
	</form>
</div>
