<html>
  <head>
    <title>Let's Paint</title>
    <script src="bar.js"></script>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/foundation.min.css">
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="column">
          <%= yield %>
        </div>
      </div>
    </div>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation/foundation.js"></script>
    <script src="js/foundation/foundation.slider.js"></script>
    <!-- Other JS plugins can be included here -->

    <script>
      $(document).foundation();
    </script>
  </body>
</hml>
