
.slider {
  height:5px;
  width:300px;
  background-color:#555;
  border-radius: 30px;
  margin-bottom:30px;
}
.scrub {
  position:absolute;
  font-size:50px;
  margin-top:-27px;
  color:#e33;
  padding-left:5px;
  padding-right:5px;
}
.center {
  position: relative;
  height:5px;
  width:300px;
  left:50%;
  margin-left:-150px;
  margin-top:75px;
}
.output {
  color:#fff;
  background-color:#1f1f1f;
  border:0;
  text-align:center;
  font-size:30px;
  width:300px;
  margin-bottom:10px;
  border-radius: 30px;
}
